/**
 * Sizes used by Twitter's Bootstrap (TM).
 *
 * https://getbootstrap.com/docs/4.1/layout/overview#responsive-breakpoints
 */

/* extra small devices */
@media (max-width: 575.98px) {
	.finances-grid {
		display: grid;
		grid-template: 4.50rem 300px 350px 1fr / 100%;
		grid-gap: 1rem;
		grid-template-areas:
			'summary'
			'accounts'
			'chart'
			'expenses';
	}
}

/* small devices */
@media (max-width: 767.98px) {
}

/* medium devices */
@media (max-width: 991.98px) {
}

/* large devices */
@media (max-width: 1199.98px) {
}